.third_container {
    height: 100vh;
    width: 100%;
    background-color: #24A367;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third_content {
    display: flex;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
}
.third_info {
    width: 50%;
    margin-left: 90px;
}
.third_info h1 {
    color: #FFFFFF;
    font-family: Raleway-small;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 90px */
}
.third_info p {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    margin-top: 40px;
}

.third_info button {
    width: 230px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 0px 20px;
    background: #FA9F42;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third_info h2 {
    color: var(--light, #FFFFFF);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}

.third_card {
    width: 299.273px;
    height: 434.11px;
    border-radius: 10px 100px 10px 10px;/* Радиус скругления */
    border: 10px solid #FFFFFF; /* Белый контур */
    background-color: transparent; /* Прозрачный фон */
}

.third_card img {
    width: 299.273px;
    height: 434.11px;
    flex-shrink: 0;
    border-radius: 10px 10px 10px 10px;
    transform: translate(-45px, 30px);
}