.mainPage {
    height: 100vh;
    width: 100%;
    margin-bottom: 23px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.profile {
    width: 30%;
    height: 100%;
    background-color: rgba(39, 97, 10, 0.639);
}
.photo {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}
.nameinf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: white;
}
.store {
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    font-size: 10px;
    color: white;
}
.uppload {
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    font-size: 10px;
    color: white;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #0e390579;
}
.line2 {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: #0e390579;
}
.storei {
    height: 100vh;
    width: 70%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    display: none;
}
.input input {
    width: 100%;
    height: 40px;
    border: 2px solid #0a04048e;
    border-radius: 20px;
    padding-left: 20px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input img {
    transform: translateX(-40px);
}

.infoi {
    display: flex;
    margin-top: 50px;
    justify-content: start;
    align-items: center;
    width: 96%;
    padding-right: 30px;
    height: 200px;
    border: 2px solid #0a04048e;
    border-radius: 25px;
}
.cards{
    margin-top: 50px;
}


.fullname {
    display: flex;
    gap: 20px;
    justify-content: start;
}
.namei {
    font-weight: 100;
    line-height: 0;
}
.surnname {
    font-weight: 100;
    line-height: 0;
}
.descri p {
    font-size: 10;
}
.info_fo {
    margin-left: 30px;
}

.proin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagesofcards {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.pagesofcards div {
    color: #0a04048e;
}

.add {
    margin-left: 230px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.photoadd {
    width: 300px;
    height: 300px;
}


.file-input {
    display: none;
  }
  
  .file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    color: #666;
    background-color: transparent;
    transition: all 0.3s;
  }
  
  .file-label:hover {
    border-color: #aaa;
    color: #444;
  }
.sendButton {
    width: 100px;
    height: 40px;
    margin-left: 155px;
    border: 2px solid #0a04048e;
    background-color: #ffffffd0;
    border-radius: 20px;
    margin-top: 40px;
}

.descr-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 380px;
    margin-top: 30px;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: start;
    resize: none;
}
.num-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 150px;
    margin-top: 30px;
    height: 40;
    display: flex;
    align-items: start;
    justify-content: start;
}
.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 150px;
    margin-top: 30px;
    height: 40;
    display: flex;
    align-items: start;
    justify-content: start;
}
.cover {
    object-fit: cover;
    height: 150px;
    width: 150px;
}